body {
  margin: 0;
  font-family: "Noto Sans TC", "Microsoft JhengHei", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Cascadia Code", "Consolas", monospace;
}
